<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <div class="products-list">
        {{range .Products}}
        <div class="product">
            {{if eq $.CategorySlug "sales"}}
                <a href="/catalog/{{$.CategorySlug}}/{{.Slug}}">{{.Name}}</a> - {{printf "%.2f" .Price}} ₽
            {{else}}
                <a href="/catalog/{{$.CategorySlug}}/{{$.SubcategorySlug}}/{{.Slug}}">{{.Name}}</a> - {{printf "%.2f" .Price}} ₽
            {{end}}
        </div>
        {{end}}
    </div>
</body>
</html>